{
    "mError": "#{{base08-hex}}",
    "mOnError": "#{{base00-hex}}",
    "mOnPrimary": "#{{base00-hex}}",
    "mOnSecondary": "#{{base00-hex}}",
    "mOnSurface": "#{{base05-hex}}",
    "mOnSurfaceVariant": "#{{base06-hex}}",
    "mOnTertiary": "#{{base00-hex}}",
    "mOutline": "#{{base01-hex}}",
    "mPrimary": "#{{base0B-hex}}",
    "mSecondary": "#{{base0C-hex}}",
    "mShadow": "#{{base00-hex}}",
    "mSurface": "#{{base01-hex}}",
    "mSurfaceVariant": "#{{base02-hex}}",
    "mTertiary": "#{{base0E-hex}}"
}
