{
  "font": {
    "size": 12,
    "name": "Iosevka"
  },
  "colors": {
    "bg": {
      "0": "#{{base00-hex}}",
      "1": "#{{base01-hex}}",
      "2": "#{{base02-hex}}",
      "3": "#{{base03-hex}}"
    },
    "fg": {
      "0": "#{{base05-hex}}",
      "1": "#{{base05-hex}}",
      "2": "#{{base05-hex}}"
    },
    "accent": "#{{base0B-hex}}",
    "blue": "#{{base0D-hex}}",
    "teel": "#{{base0C-hex}}",
    "green": "#{{base0B-hex}}",
    "yellow": "#{{base0A-hex}}",
    "orange": "#{{base09-hex}}",
    "red": "#{{base08-hex}}",
    "purple": "#{{base0E-hex}}",
    "slate": "#6f8396"
  },
  "border": {
    "width": 1,
    "color": "$bg2"
  },
  "outline": {
    "width": 1,
    "color": "$fg1"
  },
  "spacing": 10,
  "shadow": true,
  "radius": 0,
  "window": {
    "padding": 15,
    "opacity": 1,
    "margin": 10,
    "border": {
      "width": 1,
      "color": "$bg2"
    },
    "outline": {
      "width": 1,
      "color": "$fg1"
    },
    "shadow": {
      "offset": [0, 0],
      "blur": 10,
      "spread": 0,
      "color": "black",
      "opacity": 0.4
    }
  },
  "bar": {
    "bg": "$bg0",
    "opacity": 1,
    "margin": [0, 0, 0, 0],
    "spacing": 6,
    "border": {
      "width": 1,
      "color": "$bg2"
    },
    "shadow": {
      "offset": [0, 0],
      "blur": 10,
      "spread": 0,
      "color": "black",
      "opacity": 0.4
    },
    "button": {
      "fg": "$fg0",
      "padding": [0, 10],
      "bg": {
        "default": "$bg0",
        "hover": "$bg1",
        "active": "$bg2"
      },
      "opacity": 1,
      "border": {
        "width": 0,
        "color": "$bg2"
      }
    }
  }
}
