{
    "colors": {
        "AlternateBase": "#{{base01-hex}}",
        "Base": "#{{base00-hex}}",
        "BrightText": "#{{base05-hex}}",
        "Button": "#{{base01-hex}}",
        "ButtonText": "#{{base05-hex}}",
        "Highlight": "#{{base0B-hex}}",
        "HighlightedText": "#{{base00-hex}}",
        "Link": "#7dbbb3",
        "Text": "#{{base05-hex}}",
        "ToolTipBase": "#a7c080",
        "ToolTipText": "#a7c080",
        "Window": "#{{base00-hex}}",
        "WindowText": "#{{base05-hex}}",
        "fadeAmount": 0.5,
        "fadeColor": "#3c4841"
    },
    "name": "Everforest Dark Hard",
    "qssFilePath": "themeStyle.css",
    "widgets": "Fusion"
}
